<meta charset="UTF-8">
<title>TEST Node.js server</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-color: #081b4b;
        color: #e3e8f4;
        display: flex;
        flex-direction: column;
    }
</style>